<! DOCTYPE html>

<html lang="en">

<head>
    <%= stylesheet_link_tag "application", 
        "https://fonts.googleapis.com/css?family=Montserrat:700",
        "https://fonts.googleapis.com/css?family=Lato" %>
    <%= javascript_include_tag "application" %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="container">

    <div id="main-content">
        <h1 id="title">Snap To It</h1>

        <%= form_for :task do |f| %>
            <div id="form-content">
                <%= f.text_field :taskName, id: "task-input" %>            
                <%= f.submit "New Task", class: "btn"%>
            </div>
        <% end %>

        <% @tasks.each do |task| %>
            <div class="task"> 
                <%= button_to 'Finish', task_path(task),
                    method: :delete,
                    data: { confirm: 'Are you sure?' },
                    class: "btn delete-btn" %>
                <h3 class="task-name"><%= task.taskName %></h3>
            </div>
        <% end %>
    </div>

</body>

</html>