<h1>To Do List App *change*</h1>

<%= form_for :task do |f| %>
    <p>
        <%= f.label :task %><br>
        <%= f.text_field :taskName %>
    </p>
    
    <p>
        <%= f.submit "New Task" %>
    </p>
<% end %>

<% @tasks.each do |task| %>
    <div>
        <h3><%= task.taskName %></h3>
        <%= button_to 'Delete', task_path(task),
            method: :delete,
            data: { confirm: 'Are you sure?' } %>
    </div>
<% end %>