<h1>To Do List App *change*</h1>

<%= form_for :task do |f| %>
    <p>
        <%= f.label :task %><br>
        <%= f.text_field :taskName %>
    </p>
    
    <p>
        <%= f.submit %>
    </p>
<% end %>

<% @tasks.each do |task| %>
    <ul>
        <li><%= task.taskName %></li>
        <li><%= link_to 'Destroy', task_path(task),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></li>
    </ul>
<% end %>